h1 {
    font-family: 'Bangers', cursive;
    font-size: 130px;
    text-align: center;
}

#inicializacao, #jogo, #mostrador, #gameOver {
    width: 470px;
    margin: auto;
}
#start-game button {
    margin-top: -1px;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    border: 3px solid black;
    width: 210px;
    height: 45px;
    color: black;
    background-color: #009cf7;
}
#start-game button:hover {
    background-color: #9ad7f9; 
}

#area-jogo, #gameOver {
    display: none;
}


#mostrador {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.campo {
    width: 150px;
    height: 150px;
    border: 4px solid black;
    float: left;
}

#a1, #a2, #a3 {
    border-top: none;
}
#a1, #b1, #c1 {
    border-left: none;
}
#a3, #b3, #c3 {
    border-right: none;
}
#c1, #c2, #c3 {
    border-bottom: none;
}
